<!-- scrollable content pane -->
<div class="" id="msgs_container">
    {% for msg in msgs %}
        {% if msg.src == 'out' %}
            <div class="media bg-light rounded p-3 mr-4 float-left shadow mb-2" >
                <small class="rounded-circle bg-success mr-2 p-2 text-white">bot</small> 
                <div class="media-body"> <p> {{ msg.msg }} </p> </div>
            </div>
            <span class="clearfix"></span>
        {% else %}            
            <div class="media bg-light rounded p-3 ml-4 float-right shadow  mb-2"> 
                <small class="rounded-circle bg-info mr-2 p-2 text-white">me </small> 
                <div class="media-body"> <p> {{ msg.msg }} </p> </div>
            </div>
            <span class="clearfix"></span>
        {% endif %}
    {% endfor %}
</div>

<!-- force bottom of chat box -->
<span id="bottomz"></span>

<!-- text input message box AND is fixed bottom -->
<nav class='navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom d-flex'>
    <form class="flex-fill" action="{{ url_for('home') }}" method="POST">
        <div class="input-group" >                
            <input class="form-control " type="text" id='askBot' name='askBot' placeholder="ask me about rona"></input>
            <div class="input-group-append">
                <!-- <span class="input-group-text">ask</span> -->
                <button class="btn btn-success" type="submit"> 
                    ask
                </button>
            </div>
        </div>        
    </form>
</nav>

