<!--- TODO: 
    - dynamic mark active tab
    - find prettier css 
 -->
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="#homez" data-toggle='tab'>Let's chat</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#mapz" data-toggle='tab' 
            onclick="document.getElementById('jhumap').src = document.getElementById('jhumap').src">Map of cases</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#aboutz" data-toggle='tab'>About</a>
    </li>
</ul>
